:root {
    --yellow: #FBCD08;
    --brown: #372E18;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* navbar code */

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--yellow);
}

.logo img {
    width: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    color: var(--yellow);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu { 
        display:none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

   .menu li:hover {
        display: inline-block;
        color: var(--yellow);
        cursor: pointer;
        transition: 0.3s ease;
   }

   .menu li + li {
        margin-top: 12px;
   }

   input[type=checkbox]:checked ~ .menu{
        display: block;
   }

   .hamburger {
        display: block;
   }

}


/* form code */

.form-container {
    display: flex;
    justify-content: center;
}

.form-container button {
    display: flex;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}

.form-container button:hover {
    color: var(--yellow);
}

.form-container input {
    padding: 10px;
}

/* main feed code */

#post-report {
    display: flex;
    justify-content: center;
}

#post-report h3 a{
    text-decoration: none;
    color: black;
    margin: 20px;
    transition: 0.2s ease;
}

#post-report a:hover{
    color: var(--yellow);
    text-decoration: underline;
    cursor: pointer;
}


#feed-container {
    display: none;
}

#main-feed {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    background-color: var(--yellow);
    width: 60%;
    max-width: 600px;
    margin: 10px;
}

.card img {
    align-items: center;
    width: 40%;
    height: 40%;
    margin: 15px 40%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.select {
    padding: 10px;
}